@tailwind base;
@tailwind components;
@tailwind utilities;


.modalOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    z-index: 11;
    cursor: pointer;
  }
  
  .buttonLinks {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: -50px;
    width: 100%;
    z-index: 1;
  }
  
  .buttonContainer {
    display: flex;
    width: 90%;
  }
  
  #buttonLinks {
    width: 135px;
    margin-left: 10px;
  }

  #btnText{
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.625px;
    text-align: center;
    position: absolute;
    left: 125px;
    top: 5px;
  }

  
  .btnOutline {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btnOutline:hover {
    background: black;
    text-decoration: none;
    color: #fff;
  }
  
  .slideModalBottomContainer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  .slideModalBottom {
    max-width: 25%;
    max-height: 80%;
    min-width: 350px;
    min-height: 525px;
    background-color: #ffffff;
    position: absolute;
    bottom: 320px;
    left: 118px;
    z-index: 12;
  }
  
  #modalBottomContent {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #000;
    position: relative;
    top: 10%;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px 30px;
    text-align: left;
  }

  #modalBottomContent p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3499999940395355px;
    text-align: left;
  }

  #modalBottomContent h3 {
    font-family: Didot;
    font-size: 66px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0px;
    text-align: left;

  }

  .exploreButton{
    margin-top: 50px;
  }

  #colorBack{
    height: 80em;
    background-color: maroon;
    overflow: hidden;
  }

  #imgBack{
    background-image: url('./images/Coding-Challenge-Image.png');
    background-repeat:no-repeat;
    background-size: cover;
    height: 80em;
    overflow: hidden;
  }

  #mainContent{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
  }

  #backgroundContainer{
    position: relative;
    height: auto;

  }
  /* #containerA{ 
      height: 100px;
      width: 500px;
      border: solid 1px gray; 
  } */
  #mainContainer{
    position: absolute;
    bottom: 250px;
    left: 100px;
    z-index: 1;
    color: white;
  }

  #mainContent h2{
    font-family: Didot;
    font-size: 224px;
    font-weight: 700;
    line-height: 289px;
    letter-spacing: 0px;
    text-align: left;

  }

  @media (max-width: 930px) {
    #mainContent h2{
      font-size: 150px;
    }

    .buttonLinks {
      bottom: 25px;
      left: -25px;
  }

  #btnText{
    left: 85px;
  }
  
  }

  @media (max-width: 650px) {
    #mainContent h2{
      font-size: 100px;
    }

    .buttonLinks {
      bottom: 50px;
      left: -20px;
  }

    #btnText{
      left: 85px;
    }
  
  }